export(annotate.macs.output)
export(annotatePeakInBatch.example1)
export(annotatePeakInBatch.example2)
export(annotatePeakInBatch.example3)
export(annotatePeakInBatch.example4)
export(fix.macs.output)
export(import.macs.peaks.file)
export(is.macs.fixed)
export(mget.chain)
export(mget2)
importFrom(AnnotationDbi,mget)
importFrom(ChIPpeakAnno,BED2RangedData)
importFrom(ChIPpeakAnno,annotatePeakInBatch)
importFrom(plyr,join)
importMethodsFrom(IRanges,as.data.frame)
