export(annotate.macs.output)
export(annotatePeakInBatch.example1)
export(annotatePeakInBatch.example2)
export(annotatePeakInBatch.example3)
export(annotatePeakInBatch.example4)
export(fix.macs.output)
export(get.full.path)
export(import.macs.peaks.file)
export(is.dir)
export(is.excel.file)
export(is.file)
export(is.matrix.like)
export(is.tsv.file)
export(is.xls.file)
export(is.xlsx.file)
export(mget.chain)
export(mget2)
export(move.column)
export(na.rm)
export(read.xls)
export(rename.column)
export(write.delim)
export(writeLines.xls)
importFrom(AnnotationDbi,mget)
importFrom(ChIPpeakAnno,annotatePeakInBatch)
importFrom(ChIPpeakAnno,BED2RangedData)
importFrom(plyr,join)
importMethodsFrom(IRanges,as.data.frame)
